ul {
    list-style: none;
}

#page-logo a {
    padding: 5px;
    text-decoration: none;
    font-size: 50px;
    color: #212f45;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
}

#container nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container nav ul li {
    /* margin: 0px; */
}

#container nav ul li a {
    padding: 5px;
    text-decoration: none;
    font-size: 26px;
    color: #81171b;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}