ul {
    list-style: none;
}

#page-logo a {
    padding: 5px;
    text-decoration: none;
    font-size: 50px;
    color: #540804;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
    width: 100%;
    position: absolute;
}

#container nav ul {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

#container nav ul li {
    margin: 0px 8px;
}

#container nav ul li a {
    padding: 5px;
    text-decoration: none;
    font-size: 26px;
    color: #ffd400;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#container nav ul li a:hover, #container nav ul li a:active {
    color: black;
    background-color: #ffd400;
    border-radius: 5px;
}

/* Footer */

footer {
    background: linear-gradient(65deg, #e9ecef, #adb5bd);
    padding: 25px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 25px;
}