* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    height: 800px;
    background-image: url('/images/cv3.jpeg');
    background-size: cover;
    background-position: center;
}

#hero-content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.6);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border-radius: 12px;
}

#hero-content h1 {
    color: white;
    font-size: 52px;
    font-weight: 300;
}

#hero-content p {
    color: black;
    font-size: 34px;
    font-weight: 800;
    margin: 24px 0 32px 0;
    position: relative;
    right: 200px;
    font-style: italic;
}

#hero-content a {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    background-color: #415d43;
    padding: 8px 24px;
    border-radius: 8px;
}

#hero-content a:hover, #hero-content a:active {
    background-color: #415d55;
    padding: 10px 24px;
}

/* Important youtube channels */
#imp-ytube-channels {
    padding: 24px;
    background-color: #b8e0d2;
}

.ytube img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 5px;
}

.ytube-channels {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.ytube {
    margin: 10px 20px;
}

.ytube p {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    color: #03543f;
}

#imp-ytube-channels h2 {
    text-align: center;
    margin: 16px 12px 12px 12px;
    font-size: 28px;
    text-transform: uppercase;
    color: #014737;
    font-weight: bold;
    font-style: oblique;
}